{% extends 'inventory/base.html' %}

{% block content %}
<h2 style="padding-bottom:10px">Add New Item</h2>
<form method="POST" autocomplete="on">
	{% csrf_token %}
	<p><input type="text", name="type", placeholder="Laptop/Desktop Set/PC Part" autofocus required></p>

	{% if brand == "Brand" %}
		<p><input type="text", name="brand", placeholder="{{brand}}" required></p>	
		<p><input type="text", name="model", placeholder="{{model}}" required></p>
		<p><input type="text", name="description", placeholder="{{specs}}" required></p>
	{% else %}
		<p><input type="text", name="brand", placeholder="{{brand}}" value="{{brand}}" required></p>	
		<p><input type="text", name="model", placeholder="{{model}}" value="{{model}}" required></p>
		<p><input type="text", name="description", placeholder="{{specs}}" value="{{specs}}" required></p>
	{% endif %}

	<p><input type="text", name="costPrice", placeholder="Cost" required></p>
	<p><input type="text", name="srp", placeholder="SRP" required></p>

	{% if action == "inventory" %}
		<p><input type="number", name="bQty", placeholder="Benerson Quantity", autocomplete="off" required></p>
		<p><input type="number", name="qQty", placeholder="Qlinx Quantity", autocomplete="off" required></p>
	{% endif %}

	<p><button type="submit", name="newItem", value="newItem">Add Item</button></p>
</form>
{% endblock %}