{% extends 'inventory/base.html' %}

{% block content %}
	<h2 style="padding-bottom:10px">Add New Receipt</h2>
	<form method="POST" action="#" autocomplete="on">
		{% csrf_token %}
		<div class="row" style="padding-bottom:10px">
			<div class="col">
				<input type="radio", name="type", value="Supplier Invoice" checked> Supplier Invoice
			</div>
			<div class="col">
				<input type="radio", name="type", value="Transfer Slip"> Transfer Slip
			</div>
			<div class="col">
				<input type="radio", name="type", value="Sales Invoice"> Sales Invoice
			</div>
		</div>
		<p><input type="text", name="number", placeholder="Receipt Number"></p>
		<p><input type="text", name="store", placeholder="From Which Store/Supplier?"></p>
		<p><input type="date", name="date", placeholder="Date"></p>
		<p><button type="submit", name="newReceipt", value="newReceipt">Add Receipt</button></p>
	</form>
{% endblock %}