{% extends 'inventory/base.html' %}

{% block content %}
	<h2 style="padding-bottom:10px">Add New Receipt</h2>
	<form method="POST" action="#" autocomplete="on">
		{% csrf_token %}
		<div class="row" style="padding-bottom:10px">
			<div class="col">
				<input type="radio", name="type", value="Supplier Invoice" checked> Supplier Invoice
			</div>
			<div class="col">
				<input type="radio", name="type", value="Transfer Slip"> Transfer Slip
			</div>
			<div class="col">
				<input type="radio", name="type", value="Sales Invoice"> Sales Invoice
			</div>
		</div>

		{% if number == "Receipt Number" %}
			<p><input type="text", name="number", placeholder="{{number}}"></p>
			<p><input type="text", name="store", placeholder="{{store}}"></p>
			<p><input type="date", name="date", placeholder="{{date}}"></p>
			<p><input list="customerList", type="text", name="customerName", placeholder="{{customer}}"></p>
		{% else %}
			<p><input type="text", name="number", placeholder="{{number}}", value="{{number}}"></p>
			<p><input type="text", name="store", placeholder="{{store}}", value="{{store}}"></p>
			<p><input type="date", name="date", placeholder="{{date}}", value="{{date}}"></p>
			<p><input list="customerList", type="text", name="customerName", placeholder="{{customer}}", value="{{customer}}"></p>
		{% endif %}
		<datalist id = "customerList">
			{% for customer in customer_set %}
			<option value="{{customer}}">
			{% endfor %}
		</datalist>

		<p><button type="submit", name="newReceipt", value="newReceipt">Add Receipt</button></p>
	</form>
{% endblock %}