{% extends 'inventory/base.html' %}

{% block content %}
	<h2 style="padding-bottom:10px">Receipt #{{receipt.number}}</h2>
	<p>Date: {{receipt.date}}</p>
	<p>Type: {{receipt.type}}</p>
	<p>Store From: {{receipt.store}}</p>
	<p>Price: {{receipt.total_price}}</p>
	
	{% if receipt.customer != None %}
		<p>Customer: {{receipt.customer}}</p>
	{% endif %}

	<form method="POST" action="#" autocomplete="on">
		{% csrf_token %}
		<p>ITEMS</p>
		{% for entry in items_in_receipt %}
			<li>
				{{entry.item}}
				<input type="number" name="{{entry.id}}qty" placeholder="{{entry.quantity}}" value="{{entry.quantity}}" autocomplete="off">
				<input name="{{entry.id}}price" placeholder="{{entry.price}}" value="{{entry.price}}" autocomplete="off">
			</li>
		{% endfor %}
		
		<label>Add Item To List:</label>
		{% if brand == "Brand" %}
			<p><input list="brandList" name="brand" id="brand" placeholder="{{brand}}">
		{% else %}
			<p><input list="brandList" name="brand" id="brand" placeholder="{{brand}}" value="{{brand}}">
		{% endif %}
		<datalist id = "brandList">
			{% for item in item_set %}
			<option value="{{item.brand}}">
			{% endfor %}
		</datalist>

		{% if model == "Model" %}
			<input list="modelList" name="model" id="model" placeholder="{{model}}">
		{% else %}
			<input list="modelList" name="model" id="model" placeholder="{{model}}" value="{{model}}">
		{% endif %}
		<datalist id = "modelList">
			{% for item in item_set %}
			<option value="{{item.model}}">
			{% endfor %}
		</datalist>

		{% if specs == "Specs" %}
			<input list="specsList" name="specs" id="specs" placeholder="{{specs}}">
		{% else %}
			<input list="specsList" name="specs" id="specs" placeholder="{{specs}}" value="{{specs}}">
		{% endif %}
		<datalist id = "specsList">
			{% for item in item_set %}
			<option value="{{item.specs}}">
			{% endfor %}
		</datalist></p>

		<p><label>Quantity: </label>
		<input type="number" name="quantity" placeholder="Quantity" autocomplete="off"></p>
		<p><label>Price: </label>
		<input name="price" placeholder="Price" autocomplete="off"></p>

		<p><button type="submit" name="addItem" value="addItem">Add Item</button></p>
		<p><button type="submit" name="save" value="save">Save</button></p>
	</form>
{% endblock %}